{% extends 'Userform/main.html' %}
{% block main_section %}
    {% for post in news %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text}}</p>
        <p>Autor:{{ post.author}}, Date: {{post.date}}</p>
    {% endfor%}
<form method="post">
      <!--<label for="departure">From: </label>-->

      <!--<input id="departure" type="text" name="your_name" maxlength="100" required>-->
      <!--<label for="arrival">To: </label>-->
      <!--<input id="arrival" type="text" name="your_name" maxlength="100" required>-->
      <!--<input type="submit" value="OK">-->
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Submit</button>
</form>

{% endblock main_section %}
